{{>layout/header}}

{{>layout/navi}}

<main id="main" class="site-main main">
    <section class="hero">
        <div class="container">
            <h1 class="display-1 text-bold">Work History Management System v1.8</h1>
        </div>
    </section>
</main>

{{>layout/footer}}