{{>layout/header}}
{{>layout/navi}}
<div class="content">
    <div class="container">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <form class="form">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Sign In</h1>
                    </div>
                    <div class="card-body">
                        <label for="email">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-mailbox" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z"/>
                                        <path fill-rule="evenodd" d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854z"/>
                                        <path d="M5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z"/>
                                    </svg>
                                </div>
                            </div>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Email">
                        </div>

                        <label for="passwd">Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                                    </svg>
                                </div>
                            </div>
                            <input type="password" id="passwd" name="passwd" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="card-footer">
<!--                        <a href="/mains/signInProcess" class="btn btn-primary btn-lg btn-block mb-3" id="btn-signin">Get Started</a>-->
                        <button type="button" class="btn btn-primary" id="btn-signin">Get Started</button>
                        <div class="border-left">
                            <h6>
                                <a href="/main/signUp2" class="btn-link">Create Account</a>
                            </h6>
                        </div>
                        <div class="border-right">
                            <h6>
                                <a href="/main" class="btn-link">Go to Main</a>
                            </h6>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


{{>layout/footer}}