
<li class="page-item">
    <a class="page-link" data-dt-idx={{prev}} id="prev" name = "pagenum">Previous</a>
</li>

{{#pageNumbers}}
    <li class="page-item">
        <a class="page-link" data-dt-idx={{pageNumber}} id=no{{pageNumber}} name="pagenum">{{pageNumber}}</a>
    </li>
{{/pageNumbers}}

<li class="page-item">
    <a class="page-link" data-dt-idx={{next}} id="next" name="pagenum">Next</a>
</li>
