{{#posts}}
<tr>
    <td>{{use_dt}}</td>
    <td>{{line_num}}</td>
    <td>{{sub_sta_nm}}</td>
    <td>{{ride_pasgr_num}}</td>
    <td>{{alight_pasgr_num}}</td>
    <td>{{work_dt}}</td>
</tr>
{{/posts}}
{{^posts}}
<tr>
    <td colspan="6">There is no result.</td>
</tr>
{{/posts}}