{{>layout/header}}
{{>layout/navi}}

<main class="main pointer-event" id="content">
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-sm mb-2 mb-sm-0">
                    <h1 class="page-header-title">Dashboard</h1>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <!-- Title -->
                    <div class="col-12 col-md">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-header-title">서울시 지하철 역별 승하차 인원 정보</h5>
                        </div>
                    </div>
                    <!-- End Title -->
                    <!-- Filter -->
                    <div class="col-auto">
                        <div class="row align-items-sm-center">
                            <div class="col-md">
                                <div class="d-flex align-items-center mr-2">
                                    <span class="col-auto text-secondary">사용일자</span>
                                    <input type="text" class="form-control mr-2" name="usedt" id="datePicker" value="" />
                                    <button type="button" class="btn btn-primary" id="btn-stats-new">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Filter -->
                </div>
            </div>
            <!-- End Header -->
            <!-- Table -->
            <div class="table-responsive datatable-custom">
                <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                    <!-- Content List -->
                    <table id="subway-stats-table" class="table table-horizontal table-hover">
                        <thead class="thead-strong">
                        <tr>
                            <th> 사용일자 </th>
                            <th> 호선명 </th>
                            <th> 역명 </th>
                            <th> 승차총승객수 </th>
                            <th> 하차총승객수 </th>
                            <th> 등록일자 </th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <tr>
                            <td colspan="6">There is no result.</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- Footer -->
            <div class="card-footer">
                <!-- Pagination -->
                <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                    <div class="col-sm mb-2 mb-sm-0">
                        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                            <span class="mr-2">Showing:</span>
                            <select id="rowSize" class="form-select mr-2">
                                <option selected> 5 </option>
                                <option value="10">10</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span class="mr-2" id="totalCount"></span>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex justify-content-center justify-content-sm-end">
                            <nav>
                                <ul class="pagination justify-content-end" id="pagination">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- pagination -->
            </div>
        </div>
    </div>
</main>
{{>layout/footer}}
