{{>layout/header}}
{{>layout/navi}}
<h1> 리스트 등록 </h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="input title">
            </div>
            <div class="form-group">
                <label for="author">Autor</label>
                <input type="text" class="form-control" id="autor" placeholder="input author">
            </div>
            <div class="form-group">
                <label for="content"> Content </label>
                <textarea class="form-control" id="content" placeholder="input content"></textarea>
            </div>
        </form>
        <a href="/contents/main" role="button" class="btn btn-secondary">cancel</a>
        <button type="button" class="btn btn-primary" id="btn-save">Confirm</button>
    </div>
</div>

{{>layout/footer}}
